.product-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 1px solid lightgray;
  margin-bottom: 15px;
  padding: 5px 10px;
}
.product-image {
  overflow: hidden;
}
img {
  max-width: 100%;
}
.add-cart {
  background-color: goldenrod;
  width: 150px;
  height: 30px;
  border: 1px solid lightcoral;
  border-radius: 2px;
  cursor: pointer;
}
