.App-link {
  color: #61dafb;
}

button {
  padding: 5px 10px;
  background-color: #085477;
  border: none;
  color: #fff;
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
